.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a.split {
  float: right;
}

/* .topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
} */

h1 {
    text-align: center;
    font-size: 3em;
}

footer {
    bottom: 0px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.center { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

p, label {
    text-align: center;
    font-size: 1.5em;
}

body {
  font-size: 100%;
  background-color: #f5f6fc;
}

.monster-site-button {
    height:40px;
    width:300px;
    font-size: 1.5em;
    border-radius: 50px;
    background-color: #00B4C4;
    color: white;
    border: none;
}

.monster-site-input-field {
    display:flex;
    height:50px;
    width:350px;
    justify-content:center;
    align-items:center;
    font-size: 2em;
    border-radius: 8px;
    border-color: #d3d3d3;
}

#forgot-password {
    text-align: center;
}

a {
    font-size: 25px;
    text-decoration:none;
    color: #00B4C4;
}

.monster-image {
    border-radius: 24px;
    margin-left: 50px;
}

.center-text {
    text-align: center;
}

#profile-image {
    width: 150px;
    height: 150px;
}

.monster-site-header-button {
    height:5px;
    width:50px;
    font-size: 1.5em;
    border-radius: 50px;
    background-color: #00B4C4;
    color: white;
    border: none;
}
