.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

h1 {
    text-align: center;
    font-size: 5em;
}

footer {
    bottom: 0px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.center { 
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

p, label {
    text-align: center;
    font-size: 3em;
}

body {
  font-size: 100%;
}

.monster-site-button {
    display:flex;
    height:100px;
    width:300px;
    justify-content:center;
    align-items:center;
    font-size: 2em;
    border-radius: 50px;
    background-color: #00B4C4;
    color: white;
    border: none;
}

.monster-site-input-field {
    display:flex;
    height:50px;
    width:350px;
    justify-content:center;
    align-items:center;
    font-size: 2em;
}

#profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#forgot-password {
    text-align: center;
}

a {font-size: 30px}
